.wrap {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7fa;
  border-radius: 12px;
  border: 3px solid transparent;
  user-select: none;
  cursor: pointer;
}
.wrapDark {
  background-color: #0c0c0c !important;
}
.wrapActive {
  border: 3px solid #ff9909;
}
.title {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
.icons {
  font-size: 30px;
  //   color: #f2f7fa !important;
}
.text {
  margin-top: 10px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
}
.price {
  height: 50px;
  margin-top: 15px;
  padding-top: 20px;
  position: relative;
  &::after {
    content: '';
    top: 0;
    left: 50%;
    height: 1px;
    background-color: rgba(24, 59, 86, 0.2);
    width: 90px;
    transform: translateX(-50%);
    position: absolute;
  }
  & span {
    margin-top: -6px;
  }
  font-size: 20px;
  font-weight: 700;
}
