/* ===============================================
    TABLE  OF CONTENT:
    ------------------
- 1/ CSS Basic classes
- 2/ base
- 3/ elements
- 4/ Layouts
- 5/ Pages
=============================================== */

// style.scss

/* ===================
- 1/ CSS Basic classes
=======================*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&display=swap');
@import '1-helpers/colors';
@import '1-helpers/mixins';
@import '1-helpers/variables';
@import '1-helpers/global';
@import '1-helpers/classes';
@import '1-helpers/spacing';
@import '1-helpers/margin';
@import '1-helpers/padding';

/* ===================
2/ base
=======================*/
@import '0-base/base';
@import '0-base/typography';

/* ===================
3/ elements
=======================*/
@import '2-elements/buttons';
@import '2-elements/forms';
@import '2-elements/tabs';
@import '2-elements/dropdowns';
@import '2-elements/menus';
@import '2-elements/breadcrumb';
@import '2-elements/accordion';
@import '2-elements/avatars';
@import '2-elements/popups';
@import '2-elements/card_items';
@import '2-elements/creators_items';
@import '2-elements/collections_items';
@import '2-elements/menus';
/* ===================
4/ Layouts
=======================*/
@import '3-Layouts/header';
@import '3-Layouts/hero';
@import '3-Layouts/footer';
@import '3-Layouts/sections';
/* ===================
- 5/ Pages
=======================*/
@import '4-Pages/elements_page';
@import '4-Pages/profile_page';
@import '4-Pages/register';
@import '4-Pages/ranking_page';
@import '4-Pages/forum_page';
@import '4-Pages/questions_page';
@import '4-Pages/contact';
@import '4-Pages/404';
@import '4-Pages/requests_page';
@import '4-Pages/submit_requests';
@import '4-Pages/upcoming_projects';
@import '4-Pages/blog';

@import '4-Pages/index';

@import '4-Pages/is_dark';
.swiper-button-next,
.swiper-button-prev {
  color: $color_brand !important;
  font-family: 'remixicon' !important;
  border-radius: 50%;
  box-shadow: none !important;
  background: white;
  border: solid 1px rgba(10, 33, 65, 0.05);
  font-size: 22px !important;
  padding: 0;
  width: 34px !important;
  height: 34px !important;
  &::after {
    // content: '' !important;
  }
  &::before {
    // content: '' !important;
  }
}

.swiper-button-prev {
  &::before {
    content: '\ea64' !important;
  }
  &::after {
    display: none !important;
  }
}
.swiper-button-next {
  &::after {
    display: none !important;
  }
  &::before {
    content: '\ea6e' !important;
  }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none !important;
}
.article_page img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 17px 13px 0px #192c4b05;
}
.article_page p {
  padding: 0 30px;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 8px;

  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff9909;
}
.privacy__page {
  & h3 {
    margin: 30px 0;
  }
  & p {
    color: #183b56;
    margin: 16px 0;
  }
}
.is__dark {
  .accordion .accordion-button::after {
    background-color: $color_white;
  }
  .article_page .content {
    background-color: $color_black;
    border-color: $color_black;
  }
  .Toastify__toast {
    background-color: $color_dark;
    border: 1px solid $color_black;
  }
}
.is__dark .btn-disabled {
  background: $color_dark;
  &:hover {
    background: $color_dark;
  }
}
.btn-disabled {
  background: rgba(24, 59, 86, 0.5);
  &:hover {
    background: rgba(24, 59, 86, 0.5);
  }
}

.accordion .accordion-button::after {
  mask-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27 width=%2724%27 height=%2724%27%3E%3Cpath fill=%27none%27 d=%27M0 0h24v24H0z%27/%3E%3Cpath d=%27M12 10.828l-4.95 4.95-1.414-1.414L12 8l6.364 6.364-1.414 1.414z%27 fill=%27rgba%2816,44,65,1%29%27/%3E%3C/svg%3E');
  background: none;
  mask-repeat: no-repeat;
  mask-size: 1.25rem;
  background-color: $color_black;
}
.header__logo {
  width: 162px;
}
.header__logo img {
  display: block;
  margin-right: auto;
  width: auto !important;
}
// .switch-theme-mob {
//   display: none;
// }
.switch-theme {
  margin-left: -10px;
  transform: scale(0.8);
  display: flex;
  justify-content: start;
  width: min-content;
}
.mode_switcher a.is_active {
  background: $color_brand;
}
.cart-content {
  // max-width: 35rem;
  // margin: 0 auto;
  // padding: 0 20px;
}

@media (max-width: 992px) {
  .header__btns {
    margin-left: auto;
  }
  .header__logo {
    width: auto !important;
  }
  // .switch-theme-mob {
  //   display: flex !important;
  // }
  // .switch-theme {
  //   display: none !important;
  // }

  .footer__list {
    padding-top: 0 !important;
    margin-bottom: 1.5rem !important;
  }
  .product-item {
    & h6 a {
      font-size: 26px !important;
    }
    & .card_footer {
      font-size: 22px !important;
    }
  }
}
@media (max-width: 769px) {
  .contact-page {
    & .more {
      row-gap: 10px !important;
      grid-template-columns: 1fr !important;
    }
    & .article_page {
      grid-column: 1 / 2 !important;
      margin-top: 20px !important;
    }
    & .contact-content {
      // padding: 0 20px;

      & .more_box {
        height: 80px !important;
        padding: 10px 20px !important;
        & span {
          font-size: 16px !important;
          margin-left: 5px;
        }
        & i {
          font-size: 28px !important;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .payment-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
  }
  .tariff-list {
    grid-template-columns: 1fr !important;
  }
  .cart-item {
    & .card_body {
      flex-direction: column;
    }
    & .card_head {
      width: 100% !important;
    }
    & input {
      font-size: 17px;
    }
    & i {
      font-size: 28px !important;
    }
  }
  .telegram-char {
    top: 42px !important;
  }
}
@media (max-width: 375px) {
  .total-wrap {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    & button {
      margin-right: auto;
      margin-left: 0;
      width: 100% !important;
      justify-content: center;
    }
    & > div {
      margin-right: auto;
      margin-bottom: 10px;
    }
  }
}
.header__1 .header__mobile {
  z-index: 10000;
}
.is__dark .header__1 .header__mobile {
  background: #1e1e1e !important;
}
.cart-content {
  & .card__item {
    max-width: none !important;
  }
}
.footer__1 .footer__list li {
  margin-bottom: 0.5rem !important;
}
.footer__1 .footer__list {
  margin-bottom: 0.8rem !important;
}
.is__dark .header__1 {
  background-color: #141414 !important;
}
.is__dark .footer__1 {
  background-color: #000 !important;
}
.is__dark .footer__1 a {
  color: #efefef;
}
.footer__1 .privacy {
  color: #6f7d95;
}
.is__dark .share .icon {
  background: #1e1e1e !important;
}
.footer__1 .footer__social img {
  border: none !important;
  background: none !important;
}
.is__dark .hero__1 {
  background-color: $color_dark !important;
}
.is__dark .more .more_box {
  background-color: #1e1e1e !important;
}
.is__dark .forum__content .reaction .time i,
.is__dark .forum__content .reaction .time span {
  color: rgba(256, 256, 256, 0.3) !important;
}
.hero__1 {
  & h1 {
    text-align: center;
  }
  & h3 {
    text-align: center;
  }
  padding-bottom: 0px !important;
  & img {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    object-fit: contain;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .hero__1 {
    padding-bottom: 30px;
    & img {
      margin-top: 30px;
      width: calc(100% - 20px);
    }
  }
}

.is__dark a:hover {
  color: $color_brand;
}
.is__dark .card_head {
  background-color: #1e1e1e !important;
}
@media (min-width: 769px) {
  .article_page .content .inner p {
    font-size: 19px !important;
  }
}

.article_page .content {
  border: none !important;
}
.is__dark .nav-tabs .nav-item a.active,
.is__dark .nav-tabs .nav-item a.active:hover {
  border: solid 1px #ff9909 !important;
}
.is__dark .nav-tabs .nav-item a {
  border: solid 1px transparent !important;
}
.is__dark .nav-tabs .nav-item a:hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
}
.footer__1 .footer__list li a:hover {
  color: $color_brand !important;
}
.law-text {
  & h3 {
    margin-bottom: 10px;
  }
}
